

<div class='container'> 
    <% if(user.adminRole) { %> 
    <div class='square-rec center-block row'>
        <div class='col-lg-12 col-md-12'>
            <%if((home.lights != '') && (!editMode) ){%>
            <a href='#' class='col-lg-4'><span class='glyphicon glyphicon-edit edit'></span></a>
            <h3 class='col-lg-8'>    Edit</h3>
            <% }else{ %>
            <div class='row' style='display:block'>
                <div class='col-lg-6 txt'>
                    <a href='#'><span id='confirm' class='glyphicon glyphicon-floppy-disk confirm'>Confirm</span></a>
                </div>
                <div class='col-lg-6 txt'>
                    <a href='#'><span id='delete' class='glyphicon glyphicon-floppy-disk delete'>Delete</span></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
    <%if((home.lights != '') && (!editMode) ){%><!-- home.lights != null -->
    <%for(var i = 0; i < home.lights.length; i++){%>
    <div id='lightBlock<%=i%>' class='square-bulb center-block row'>
        <div class='col-md-4 col-xs-4' >
            <div><a href='#'><i class='glyphicon glyphicon-flash canSwitch' aria-hidden="true" id=''></i></a></div>
        </div>
        <div class='col-md-8 col-xs-8' >
            <!-- dane -->
            <div class='row'>
                <div class='col-sm-6 col-xs-6'><p>Name: </p></div>
                <div class='col-sm-2 col-xs-2'><p><%=home.lights[i].roomName%></p></div>
            </div>
            <div class='row'>
                <div class='col-sm-6 col-xs-6'><p>Relay ID: </p></div>
                <div class='col-sm-2 col-xs-2'><p class='relId'><%=home.lights[i].relayId%></p></div>
            </div>
            <div class='row'>
                <div class='col-sm-6 col-xs-6'><p>Status: </p></div>
                <div class='col-sm-2 col-xs-2'><p class='status'>OFF</p></div>
            </div>
        </div>    
    </div>
    <% }}else if((home.lights == '') || (editMode) ){
    %>
    <div class='appear'>
        <%
        var len = 0;
        if(editMode) len = home.lights.length;
        else len = 8;
        %>
        <%for(var i = 0; i < 8; i++){%>
    <div id='lightBlock<%=i%>' class='hide'>
        <div class='square-bulb center-block row'>
            <div class='col-md-4 col-xs-4' >
                <div><a class='remove'><i class='glyphicon glyphicon-flash' aria-hidden="true" ></i></a></div>
            </div>
            <div class='col-sm-8 col-xs-8' >
                <!-- dane -->
                <div class='row'>
                    <div class='col-sm-4 col-xs-4'><p>Name: </p></div>
                    <%if(editMode && (i < len)){%>
                    <div class='col-lg-8 col-sm-8'>
                        <p><input class="form-control input-sm focusedName" type="text" value="<%=home.lights[i].roomName%>"></p>
                    </div>
                    <%}else{%>
                    <div class='col-lg-8 col-sm-8'><p><input class="form-control input-sm focusedName" type="text"></p></div>
                    <%}%>
                </div>
                <div class='row'>
                    <div class='col-sm-4 col-xs-4'><p>Relay ID: </p></div>
                    <%if(editMode && (i < len)){%>
                    <div class='col-lg-8 col-sm-8'>
                        <p><input class="form-control input-sm focusedID" type="text" value="<%=home.lights[i].relayId%>"></p>
                    </div>
                    <%}else{%>
                    <div class='col-lg-8 col-sm-8'><p><input class="form-control input-sm focusedID" type="text"></p></div>
                    <%}%>
                </div>
                <!--<div class='row'>
                    <div class='col-sm-6 col-xs-6'><p>Status: </p></div>
                    <div class='col-sm-2 col-xs-2'><p>......</p></div>
                </div>-->
            </div>
        </div>    
    </div>
    <%}%>
    </div>
    <div id='addBlock' class='square center-block'>
        <div class='col-md-12 col-xs-12' align='center'><h3>Click to add relay</h3></div>
        <div class='col-md-12 col-xs-12' align='center'>
            <a href='#'><span class='glyphicon glyphicon-plus-sign'></span></a>
        </div>    
    </div>
    <%}%>
    
</div>
<script>
    $(document).ready(function(){
        ajaxIt();
    });

    //get the relays statuses
    function ajaxIt (){
        $.ajax({
                type : 'POST',
                url : 'readStatuses',
                success: function(result){
                    statuses = result;
                    var bulbs = [];
                    $('div[id^="lightBlock"]').each(function(){ bulbs.push(this.id.slice(10)); });
                    console.log(bulbs.length);
                    for(let i = 0; i < bulbs.length; i++){
                        var num = $('#lightBlock' + i).find('.relId').text();
                        if(1 == statuses[num - 1]){
                            //console.log(num + ' ' + statuses[num - 1]);
                            $('#lightBlock' + i).find('.status').text('ON');
                            $('#lightBlock' + i).find('.canSwitch').toggleClass('color');
                        }
                    }

                }
            });    
    }


    //turn on edit mode
    $(document).on('click', '.edit' ,function(){
        $.ajax({
                type : 'POST',
                url : 'lightsControll',
                data: {
                    editMode : true
                },
                success: function(result){
                    $('#content').html(result);
                    for(let i = 0; i< <%=home.lights.length%>; i++){
                        $('#lightBlock' + i).toggleClass('show');
                    }
                    counter = collectIds();
                }
            });
    });

    //post relays names and ids to router
    $('.confirm').on('click', function(){
        var names = [];
        var ids = [];
        $('.show').find('.focusedName').each(function(){
            var obj = $(this);
            if(obj.val() != ""){
                names.push(obj.val());
            }
            else{
                alert('Add missing names or remove block!');
                names = [];
                ids = [];
                return false;
            }
        });
        $('.show').find('.focusedID').each(function(){
            var obj = $(this);
            if(obj.val() != ""){
                ids.push(obj.val());
            }
            else{
                alert('Add missing ids or remove block!');
                ids = [];
                names =[];
                return false;
            }
        });

        //send object to router
        var lights = [];
        if(ids != ''){
            var room = {
                roomName: "",
                relayId: ""
            };
            for(let i = 0; i < ids.length; i++){
                room = {};
                room.roomName = names[i];
                room.relayId = ids[i];
                lights.push(room); 
            }
            lights = JSON.stringify(lights);
            $.ajax({
                type : 'POST',
                url : 'lightsControll/update',
                data: {
                    newLights: lights
                },
                success: function(){
                    alert('Profile updated!');
                    window.location.replace('/index'); 
                }
            });
        }

        return false;
    });

    //light the bulb
    $(document).on('click', ".canSwitch" , function () {
        $(this).toggleClass('color');
        var $parent = $(this).parent().parent().parent().parent();//.closest('square-bulb');
        var id = $parent.find('.relId').text();
        var status = ($parent.find('.status').text()) == 'ON'?0:1;
        var text = (status == '1')?'ON':'OFF';
        $parent.find('.status').text(text);
        $.ajax({
            type : 'POST',
            url : 'readStatuses/toggle',
            data: {
                id: id,
                status: status
            },
            success: function(){
                console.log('toggle');
            }
        });
        return false;
    });
    var counter = collectIds();

    //collects hidden bulbs ids
    function collectIds(){
        var ids = [];
        $('.hide[id]').not('.show').map(function(){
             ids.push(
                 this.id.slice(this.id.length - 1))
             });//(x => ids.push(x.id));
        return ids;
    }

    //adds the bulb
    $("span[class^='glyphicon glyphicon-plus-sign']").on('click', function () {
        $('#lightBlock'+counter[0]).toggleClass('show');
        counter = collectIds();
        return false;
    });

    //activate delete mode
    $('.delete').on('click', function(){
        $(this).toggleClass('red');
        var c = $(this).attr('class');
        if(c.includes('red')){
            $("div[class^='hide show']").children('div').css('border', '3px solid red');
            $("div[class^='hide show']").find('i').removeClass('glyphicon glyphicon-flash').addClass('fa fa-times').css('color', 'red');
            $("div[class^='hide show']").find('a').attr('href', '#');
            $('#addBlock').toggleClass('hide');
        }
        else{
            $("div[class^='hide']").children('div').css('border', '3px solid #fff')
            $("div[class^='hide show']").find('i').removeClass('fa fa-times').addClass('glyphicon glyphicon-flash').css('color', '#fff');
            $("div[class^='hide show']").find('a').removeAttr('href');
            $('#addBlock').toggleClass('hide');
        }
        return false;
    });

    //removes bulb
    $("a[class='remove']").on('click', function(){
        var Href = $(this).attr('href');
        if(typeof Href !== 'undefined'){
            var num = $(this).closest(".hide").prop('id');
            num = num.slice(num.length - 1);
            $(this).find('i').removeClass('fa fa-times').addClass('glyphicon glyphicon-flash').css('color', '#fff');
            $(this).removeAttr('href');
            $('#lightBlock'+num).find('.focusedID').removeAttr('value');
            $('#lightBlock'+num).find('.focusedName').removeAttr('value');
            $('#lightBlock'+num).toggleClass('show');
        }
        counter = collectIds();
        return false;
    });

</script>